:root {
  
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

.border-dashed {
  border-style: dashed !important;
}

.custom-navbar {
  .text-lime {
    color: rgb(116, 255, 21);
  }

  .search-bar {
    .form-control {
      font-size: 0.875rem;
      border-left: 0;
    }

    .input-group-text {
      border-right: 0;
    }
  }

  .dropdown-menu {
    font-size: 0.875rem;
  }

  .btn-link {
    text-decoration: none;
  }
}